<section id="addShop">
    <div class="container">
        <form action="" class="form">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Shop title</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="title"
                    placeholder="type shop title">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Another label</label>
                <input type="text" class="form-control" id="formGroupExampleInput2"
                    placeholder="Another input placeholder">
            </div>
        </form>
    </div>
</section>